@page "/usuarios"
@rendermode InteractiveServer
@inject IConfiguration Config
@using Dapper
@using matcha.Modelo
@using Microsoft.Data.SqlClient;


<PageTitle>Listado de Usuarios</PageTitle>

<h1>Usuarios</h1>

@if (usuarios == null)
{
    <p><em>Cargando...</em></p>
}
else if (!usuarios.Any())
{
    <p>No hay usuarios registrados.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in usuarios)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Nombre</td>
                    <td>@u.Email</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

@code {
    private int currentCount = 0;
    private List<Usuario>? usuarios;

    protected override void OnInitialized()
    {
        using var conn = new SqlConnection(Config.GetConnectionString("SqlConnection"));
        conn.Open();
        usuarios = conn.Query<Usuario>("SELECT Id, Nombre, Email FROM Usuarios").ToList();
    }

   
}
